@font-face {
  font-family: Roboto-Regular;
  src: url("../src/assets/fonts/Roboto-Regular.ttf");
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  font-family: Roboto-Regular;
  padding: 35px;
  box-sizing: border-box;
  max-width: 1240px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease-out;
}

input:focus {
  outline: none;
}